/* Gaya untuk menu aktif */
.nav-item.active {
    background-color: #4a535c; /* Warna latar belakang menu aktif */
    color: #fff !important; /* Warna teks menu aktif */
    border-radius: 4px; /* Memberikan sudut melengkung */
}

.nav-item.active i {
    color: #fff; /* Warna ikon pada menu aktif */
}

/* Gaya hover untuk menu aktif agar tetap konsisten */
.nav-item.active:hover {
    background-color: #4a535c; /* Warna saat hover pada menu aktif */
    color: #fff !important;
}

/* Gaya untuk menu lainnya agar terlihat kontras */
.nav-item a {
    color: #adb5bd; /* Warna default teks menu */
    transition: all 0.3s ease-in-out; /* Animasi untuk transisi */
}

.nav-item a:hover {
    background-color: #f4f4f4; /* Warna latar saat hover */
    color: #007bff; /* Warna teks saat hover */
    border-radius: 4px;
}

*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: 8;
    font-weight: normal;
    font-style: normal;
    font-size : small;
}

.daftar_kegitan {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.card {
    width: 300px;
    border: 1px solid #ddd;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: contain; /* Gambar proporsional sesuai orientasi */
    background: linear-gradient(6deg, rgb(85, 150, 203) 0%, rgb(190, 208, 245) 48%);
}

.card-body {
    text-align: left;
}

.card-text img {
    width: 18px;
    vertical-align: middle;
    margin: 0px !important;
    padding: 0px !important;
}

.btn-primary {
    margin-top: 10px;
}
